<div class="row">
    <div class="container" style="padding-top: 90px; padding-right: 50px;">
<div class="row">
<div class="card" style="width: 22rem;" >
    <img src="https://i.ytimg.com/vi/D6I-s0NwOHM/maxresdefault.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">RAVI KUMAR</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
    </div>
  </div>
  
  <div class="card" style="width: 22rem; ">
    <img src="http://i.huffpost.com/gen/2686060/images/o-FLORIDA-facebook.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">PRASANT</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
    </div>
  </div>
  <div class="card" style="width: 22rem;">
    <img src="https://i.ytimg.com/vi/FiXYnh9uFmI/maxresdefault.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">MAMAA</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
    </div>
  </div>
</div>
    </div>
    </div>
  